<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Salad Swiper</title>
</head>

<body>
    <header>
        <h1 class="title">Salad Swipers</h1>
    </header>
    <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>

  <main>
      <div class ="">
          {{{ body }}}
      </div>
  </main>

  {{#if loggedIn }}
  {{!-- Whatever js file for this we use below --}}
  <script src="/javascript/login.js"></script>
  {{/if}}
    
</body>
</html>