<section class ="">
    <div class ="">
        <h1>{{name}}</h1>
    </div>

    <div class ="">
        {{filename}}
    </div>

    <div class ="">
    <button></button>
    <h2></h2>
    <button></button>
    </div>

    <div class ="">
        <button class =""> </button>
        <button class =""> </button>
    </div>
</section>