* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: gold;
    background-color: darkgrey;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 10px;
    padding: 5px;
    background-color: gold;
    border-radius: 10px;
  }
  
  a:hover {
    color: #3486eb;
    background-color: white;
  }
  
  button {
    width: 80%;
    border: 0;
    padding: 5px 10px;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 10px;
    background-color: gold;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  .login-form, .signup-form {
    border: 3px solid gold;
    background-color: white;
    padding: 20px;
    color: black;
    width: 30%;
    margin: 3.5%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    border-radius: 15px;
}

  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-image: url("../images/garden-salad.jpg");
    background-size: cover;
  }

  .title {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #e1effa;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  .card {
      margin-bottom: 1em;
      margin-top: 1em;
  }

  .rows{
      display:flex;
      flex-direction: column;
  }